$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$green: green;
$orange: orange;
$red: red;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

@mixin custom-label-variant($color) {
  background-color: $color;

  &[href] {
    &:hover,
    &:focus {
      background-color: darken($color, 10%);
    }
  }

  &.btn-primary.active:hover {
    background-color: darken($color, 10%);;
  }
  &.btn-primary:hover {
    background-color: darken($color, 5%);;
  }
}


.label {

  &.easy {
    @include custom-label-variant($green);
  }
  &.medium {
    @include custom-label-variant($orange);
  }
  &.hard {
    @include custom-label-variant($red);
  }

  &.on-the-left {
    margin-right: 5px;
  }
}

.kata-details {
  .description {
    border-radius: 5px;

    $markdown_margin: 10px;

    & > * {
      margin-left: $markdown_margin;
      margin-right: $markdown_margin;
    }

    :first-child {
        padding-top: $markdown_margin;
    }
    :last-child {
      padding-bottom: $markdown_margin;
    }
  }

  // To prevent jumping when async loading the description text
  .description-placeholder {
    height: 600px;
  }

  .easy {
    color: $green;
  }
  .medium {
    color: $orange;
  }
  .hard {
    color: $red;
  }

  .glyphicon {
    display: inline-block;
  }

}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }

  .input-group {
    display: initial;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  .navbar {
    margin-bottom: 20px;
  }
}

.panel-group *:hover {
  text-decoration: none;
}

.panel-body {
  padding: 0;

  pre {
    border-radius: 0;
    padding: 0;
    border: 0;
  }

  .hljs {
    padding: 0 0.5em;
  }
}

.mantra:hover {
  text-decoration: none;
}

.pairing {
  $image-width: 800px;
  $image-height: 600px;

  width: $image-width;
  height: $image-height;
  background-size: $image-width $image-height;
  background-repeat: no-repeat;
}

// ANIMATIONS

.animate-if {
  background:white;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}


.animate-show {
  opacity: 1;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
}

.check-element {
  background: white;
}
