<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <uib-accordion close-others="oneAtATime">
        <uib-accordion-group is-open="status.open">
          <uib-accordion-heading>
            {{fileName}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
          </uib-accordion-heading>
          <pre class="animate-show" ng-show='content'>
            <code></code>
          </pre>
        </uib-accordion-group>
      </uib-accordion>
    </div>
    <div class="col-xs-1">
      <a href="{{exampleUrl}}"><i class="glyphicon glyphicon-download"></i></a>
    </div>
  </div>
</div>
