<div class="jumbotron">
  <p>
    <div class="difficulties-radio btn-group">
      <label uib-btn-checkbox ng-repeat="level in difficulties" class="btn btn-primary label" ng-class="level" ng-model="filterDifficulties[level]">{{level}}
      </label>
    </div>
  </p>
  <p class="lead input-group">
    <input type="text" placeholder="search for ..." ng-model="filterText"></input>
  </p>
</div>

<div class="row marketing">
  <div ng-repeat="kata in katas | filter:filterText | byDifficulty:filterDifficulties as results track by kata.name">
    <h4>
      <span class="label on-the-left {{kata.difficulty}}"> </span>
      <a href="#/katas/{{ctrl.encodeURI(kata.name)}}">{{kata.name}}</a>
    </h4>
    <p>{{kata.shortDescription}}</p>
  </div>
  <div ng-if="results.length === 0">
    <strong>No Katas found...</strong>
  </div>
</div>
